body {
    text-align: center; 
    font-size: 100%;
}

#wrap {
    margin: auto; 
    max-width: 960px; 
    min-width: 200px; 
    position: relative;
    overflow: hidden;
    padding: 20px;
}

#wrap > div > h1 {
    border-bottom: 2px solid black; 
    padding-bottom: 20px; 
    margin-bottom: 20px;
}

#wrap #info {
    width: 70%; 
    float: left;
}

#error {
    color: red;
}

#recent {
    float: right; 
    border: 1px solid black; 
    width: 20%; 
    height: 300px; 
    padding: 0px 10px 10px 10px;
}

#recent > div > h2 {
    border-bottom: 2px dotted black;
    margin-bottom: 0;
}

#recent .container {
    overflow: scroll; 
    height: 220px;
}

#recent ul#recents {
    list-style-type: none; 
    text-decoration: none; 
    color: #222; 
    padding: 10px;
    margin: 0;
}

#recent ul#recents li {
    font-size: 28px;
    cursor: pointer;
    padding: 5px 0;
}

#recent ul#recents li:hover {
    background: #ddd;
    color: #444;
}